# Ficheros de Git
.git
.gitignore

# Ficheros de entorno local. ¡NUNCA deben ir en la imagen!
.env
.env.local

# Ficheros de herramientas y dependencias de otros lenguajes
/simulator/
node_modules/
/vendor/

# Binarios y logs locales
/tmp
*.log
build-errors.log

# Ficheros de configuración de herramientas locales
.air.toml